@{
    ViewBag.Title = "VeloTours";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Strava provide simple KOM on segments, while VeloTours extends this adding leaderships boards for segments
                combined into group of segments. You will now have the possibility to become of KOM/QOM of a district or
                find out if your are the best climber in a specific area
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>How to use</h5>
        Suspendisse potenti. Maecenas porttitor condimentum metus, id tincidunt turpis feugiat sed.
        Vivamus tristique justo sit amet ante molestie at feugiat mauris accumsan. 
        Nulla in fringilla velit. Morbi in mauris ac tortor blandit viverra vitae in augue.
        Nunc diam libero, vestibulum blandit egestas non, eleifend in neque. 
    </li>

    <li class="two">
        <h5>Country</h5>
        Some text
    </li>
</ol>
