@model VeloTours.Models.SegmentAreaViewModel
@using VeloTours.Models;

@{
    //var yellow = @Model.Segment.Result.LeaderBoards.First();
}

<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td><img src="~/Content/images/yersey/yellow.png" /></td>
            <td style="padding-left: 50px"><img src="~/Content/images/yersey/green.png" /></td>
            <td></td>
            <td style="padding-left: 50px"><img src="~/Content/images/yersey/polkadot.png" /></td>
            <td></td>
        </tr>
    </tbody>
</table>
