#body {
    font-size: 0.9em;
}

.table td{
	white-space: nowrap;
}

tr th.t {
    vertical-align: top;
    padding-left: 20px;
}

tr th.r {
    text-align: right;
    vertical-align: top;
}

tr td.r {
    text-align: right;
    vertical-align: top;
    padding-left: 20px;
}

tr td.t {
    vertical-align: top;
    padding-left: 20px;
}

a.MtbArea {
    color: darkolivegreen;
}

.athleteLink {
    vertical-align: top;
}