.table td{
	white-space: nowrap;
}

tr th.right {
    text-align: right;
    vertical-align: top;
}

tr td.right {
    text-align: right;
    vertical-align: top;
    padding-left: 20px;
}

tr td.top {
    vertical-align: top;
    padding-left: 20px;
}

